// Global Variables
$transition-timing: 500ms
$hover-opacity: .5

// Tweaking Defults
  // Buttons
.hollow
  color: $white !important
  border-color: $white !important
.button
  text-transform: uppercase !important
.button.secondary
  margin-top: 1em
  padding: 12px  
.button.success 
    background-color: transparent
    color: #0a0a0a
    border: 1px solid
    transition: $transition-timing
    &:hover
      background-color: transparent
.button.alert
  background-color: $secondary-color
  transition: $transition-timing
  &:hover
    background-color: $secondary-color
  // Table
td 
  border: 2px solid white !important
th
  border: 2px solid white  

  // Forms
input 
  border-color: #999 !important
  &::-webkit-input-placeholder
    color: #999

textarea 
  border-color: #999 !important
  &::-webkit-input-placeholder
    color: #999

legend
  font-style: italic
  font-size: 1.1rem
  padding-left: 1.75rem
fieldset
  &>span
    display: flex
    align-items: center
    margin-bottom: 1rem
    input
      margin-bottom: 0 !important
    label
      display: flex
  &>:nth-child(2)
    &>label
      font-weight: bold

// Global Interactions
a
  transition: $transition-timing
  &:hover
    opacity: $hover-opacity
.dark-hover-link
  color: $black !important
  border-bottom: 1px solid transparent
  padding: 0px
  position: relative
  &:hover
    border-bottom: 1px solid $black

    // iFrames
iframe
  height: 100%
  min-height: 250px
  
// Additional classes
.hidden
  display: none
  
.image-margin
  margin-bottom: 1rem
.link-unset
  color: unset

  // Copy
.more-about-link
  font-style: italic
  text-decoration: underline
.cta 
  h3 
    max-width: 1080px !important
    margin: auto

  // Spacing
.row
  padding: 5em 0
.clear-margin
  margin: 0
.remove-padding-botttom
  padding-bottom: 0 !important
.remove-padding-top
  padding-top: 0 !important
.cell.row
  z-index: 1