@media #{$small-only} 
    .row
        padding: 1em 0
    .grid-container.row
        padding: 1rem .69444rem
    p
        line-height: 1.2
    .logo
        width: 50vw !important
    .grid-y
        .cell
            width: 100%
    
    // footer
    .footer
        p
            color: rgba(255,255,255,.5) 
            a
                color: rgba(255,255,255,.5)
    
    //table
    table.mobile-collapsed
        max-height: 0vh
        opacity: 0
        user-select: none
        transition: $transition-timing
        tr
            max-height: 0
            th
                max-height: 0
                padding: 0
            td
                max-height: 0
                padding: 0
    i.fi-play.large:before
        transform: rotate(91deg)
        margin-left: 1rem
        transition: $transition-timing
    i.fi-play.large.flipped:before 
        transform: rotate(91deg) rotateY(180deg)
    table
        transition: $transition-timing
        opacity: 1
        max-height: 500vh
        display: flex
        thead
            border: 0
            background: transparent
            padding: 5px
            tr
                z-index: 9
                box-shadow: 10px 0px 10px -9px rgba(0, 0, 0, 0.18)
                display: flex
                flex-direction: column
                background: $primary-color
                th
                    border: 1px solid white
                    height: 6rem
                    width: 10rem
                    display: flex
        tbody
            display: flex
            overflow-x: auto
            background: transparent
            padding: 5px
            tr
                display: flex
                flex-direction: column
                td
                    height: 6rem
                    width: 10rem
                &:nth-child(even)
                    background: transparent
                    td
                        background: #DEDEDE
                &:nth-child(odd)
                    td
                        background: #F2F2F2
        td
            overflow: scroll

@media only screen and (max-width: 786px) and (min-width: 400px)  
    .grid-y
        .cell
            width: 100%
    body > .grid-container
        margin-top: 1rem