.go
    position: relative
    &:after
        content: ' '
        width: 4rem
        height: 4rem
        position: absolute    
        bottom: 0
        right: 0
        background: url('http://localhost:3000/images/services/go-btn.png')
        background-size: cover
        transition: $transition-timing
    &:hover:after
        width: 5rem
        height: 5rem
.go-down
    &:after
        background: url('http://localhost:3000/images/resources/down.png')
        background-size: cover
        height: 2rem
        width: 2rem
        cursor: pointer
    &:hover:after
        height: 2rem
        width: 2rem
