#mobile-nav
    background: #42515d
    position: fixed
    height: 100%
    width: 75%
    right: 0
    top: 0
    z-index: 9999
    box-shadow: -79px 0px 75px -41px #0000005c
    color: white
    transition: $transition-timing
.close-mobile-nav
    position: fixed
    z-index: 99999
    width: 1rem
    height: 1rem
    top: 1.75em
    right: 2.5em
    span
        color: $white
#mobile-nav.mobile-nav-hidden
    right: -100%
