#mobile-nav
    background: #42515d
    position: fixed
    height: 100%
    width: 75%
    right: 0
    top: 0
    z-index: 9999
    box-shadow: -79px 0px 75px -41px #0000005c
    color: white
    transition: $transition-timing
    li
        a
            padding: 1em
            color: $white
            border-bottom: 1px solid
            background: transparent
        ul.is-active
            a
                background: white
                color: $black
                border-bottom: 1px solid
    .drilldown 
        .is-drilldown-submenu-parent
            &>a::after
                border-color: transparent transparent transparent white
        .is-drilldown-submenu-parent.is-active
            &>a::after
                border-color: transparent transparent transparent #455560
.close-mobile-nav
    position: fixed
    z-index: 99999
    width: 1rem
    height: 1rem
    top: 1.75em
    right: 2.5em
    span
        color: $white
#mobile-nav.mobile-nav-hidden
    right: -100%
