@media #{$small-only}
    .top-bar
        position: fixed
        width: 100%
        z-index: 9999
        background: white
        top: 0
        left: 0
        padding-left: .69444rem
        box-shadow: 0px -100px 71px 24px
    body
        padding-top: 100px 

#mobile-nav
    background: $primary-color
    position: fixed
    height: 100%
    width: 75%
    right: 0
    top: 0
    z-index: 9999
    box-shadow: -79px 0px 75px -41px #0000005c
    color: white
    transition: $transition-timing
    padding-top: 6rem 
    .is-drilldown-submenu
        min-height: 100vh
        background: $primary-color
    li
        a
            padding: 1em
            color: $white
            border-bottom: 1px solid rgba(255,255,255,.4)
            background: transparent
            font-weight: bold
            letter-spacing: 0.03rem
        ul.is-active
            a
                // background: white
                color: $white
                border-bottom: 1px solid rgba(255,255,255,.4)
        .js-drilldown-back 
            background: rgba(255, 255, 255, .2)
            &>a::before
                border-radius: 1em
                border-color: transparent white transparent transparent !important
    .drilldown 
        .is-drilldown-submenu-parent
            &>a::after
                border-color: transparent transparent transparent $white
                margin-right: 5px
            .is-drilldown-submenu
                a
                    font-weight: 400

#mobile-nav .drilldown .is-drilldown-submenu.is-active>a::after
    border-color: transparent transparent transparent black


#mobile-nav.mobile-nav-hidden
    right: -100%

// Hamburger
.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before
    background: $primary-color
.hamburger 
    position: fixed
    z-index: 99999
    top: 18px
    right: -1px
    .hamburger-box
        width: 2rem
        span:before
            width: 2rem
            top: -10px
        span
            width: 2rem
        span:after
            width: 2rem
            bottom: -10px
.hamburger:hover
    opacity: .7
.hamburger.is-active:hover
    opacity: 1
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before
    background-color:white !important

// Search
.search-button 
    position: fixed
    top: 25px
    right: 75px
    z-index: 9999
    font-size: 2rem
    color: $primary-color
    cursor: pointer
#search-bar-mobile
    padding: 1em
    background: $primary-color
    position: absolute
    right: 3%
    top: 6rem
    width: 94%
    .input-group
        margin: 0
        &:before
            content: " "
            position: absolute
            top: -12px
            right: 66px
            z-index: 9999
            border: 12px solid #455560
            width: 25px
            height: 25px
            transform: rotate(45deg)
            border-right: 0
            border-bottom: 0
        .button
            margin: 0

