// Additional classes
.hidden
  display: none
.textured-header
  color: $white
  background: url('../images/textured_header.jpg')
  padding: 2rem 0
// Global Interactions
a
  transition: 500ms
a:hover
  opacity: .75
