.top-bar
  background: transparent
  align-items: flex-end
  padding: 2rem 0

  .top-bar-left
    flex: 0 1 auto
    justify-content: flex-end
    flex-direction: column
    .logo
      max-width: 250px
      width: 50vw

  .top-bar-right
    flex: 1 1 auto
    ul
      background: transparent
    a
      color: $black !important
    .header-phone-number
      color: $secondary-color !important
      font-weight: bold
    .main-nav
      li
        font-weight: bold
        margin-left: 2.5rem
    form
      display: flex
      justify-content: flex-end
      padding: .75em 0em 1em 0em

      input
        margin-bottom: 1rem
        padding: .5em
        height: 2rem
        color: $black !important
        border-color: $black !important
.bread-crumbs
  ol
    list-style: none
    display: flex
    margin: 1.25em 0 0 0
    li
      display: flex
      justify-content: space-between
      align-items: center
      span
        color: #B3B3B3
      .delimiter
        margin-left: .75rem
    .current-page
      span
        color: $primary-color

