.side-bar-menu
    list-style-type: none
    margin: 0
    .secondTitle 
        margin-top: 1em
    h6
        margin-left: 1em
    .titleSelector 
        padding: .5em 0
        .side-bar-x
            max-width: .5em
            transform: rotate(45deg)
            transition: $transition-timing
        .side-bar-x.opened
            transform: rotate(0deg)
        a
            color: $black
        a:hover
            opacity: .5
    .side-bar-sub-menu
        background: #DFE2E4
    .close-menu 
        margin: 5px
        padding: 5px
        cursor: pointer
        padding-left: 1rem
    .menu-holder
        height: 0 
        list-style-type: none
        transition: $transition-timing
        ul
            list-style: none
            margin: 0
            z-index: -1
            // opacity: 0
            overflow: hidden
            transition: $transition-timing
            li
                background: white
                padding: .5em 0 0 3em
                a
                    color: transparent
            li:last-child
                padding: .5em 0 .5em 3em
        .active
            z-index: 0
            opacity: 1
            li
                a 
                    color: unset
                