.resource
    position: relative
.download-link 
    position: absolute
    height: 3rem
    width: 3rem
    right: 1.04167rem
    bottom: 1.04167rem
    background: url(../../../../images/resources/down.png)
    background-size: cover

.resource-title
    background: $secondary-color
    color: $white  
    font-weight: bold
    width: 100%
    height: 3rem
    display: block
    padding: 1rem 0
    line-height: 1rem
    &:hover
        color: $white !important
.resource-container
    background: #dfe2e4
.resource-guide
    transform: scale(.7)

.dev-resources
    strong
        text-align: center
        width: 100%
        display: block
        z-index: 999
        color: $white
        background: $primary-color
        padding: 1rem 0