.home-hero
  background: pink
  .background
    height: 50vh
    overflow: hidden
  .content
    margin-top: -25vh
    color: $white
    .button.hollow.white
      color: $white
      border-color: $white
      background: transparent
