.home-hero
  padding-bottom: 20px
  .background
    height: 50vh
    overflow: hidden
    .medium-6
      position: relative
      height: 100%
      overflow: hidden
      .gradient
        position: absolute
        top: 0
        height: 100%
        width: 100%
        background: rgb(0,0,0)
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%)
    .left-img
      border-right: 20px solid $white
    .zoom
      img
        transform: scale(1.1)
    .inactive
      img
        filter: grayscale(100%)
  .content
    margin-top: -22vh
    color: $white
    z-index: 999
    padding-right: 0rem
    padding-left: 0rem
    border-right: 1.04167rem
    border-left: 1.04167rem
    h1
      margin-bottom: -1rem
    .medium-6 
      padding-right: 0rem
      padding-left: 0rem
      border-right: 2.08334rem
      border-left: 2.08334rem
    .button.hollow.white
      color: $white
      border-color: $white
      background: transparent
    .dropdown-selector
      cursor: pointer
      transition: $transition-timing
      div
        display: flex
        align-items: center
        &:hover
          opacity: $hover-opacity
        p
          margin: 0
          float: left
          user-select: none
        .triangle
          float: left
          width: .75rem
          height: .75rem
          margin-right: .75rem